.remove_p {
    font-size: 24px;
    margin-right: 17px;
    cursor: pointer;
}	

.big_l {
	line-height: 35px;
}

.rd_wrapper.in{
	display: block;
}

.trash_logo{
		
}
.go_logo {
	
font-size: 32px;
}
.rd_trash {
	
margin-left: 18px;
	
font-size: 16px;
	
width: 35px;
	
height: 35px;
	
border-radius: 52px;
}