.swiper_wrapper {
	padding: 0px 35px;
}

.swiper-button-next{
	right: 0px;
}

.swiper-button-prev{
	left: 0px;
}

#page-wrapper .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0px;
}