.files_btn {

}
#my_table tr, #my_table td{
	vertical-align: middle;
}

#my_table i {
	padding-right: 5px;
} 

.swiper-panel {
	padding: 15px 33px;
}

#wrapper .swiper-button-next{
	right: 17px;
	display:none;
}

#wrapper .swiper-button-prev{
	left: 17px;
	display:none;
}


.swiper-panel .row{

}

.main-row {
	
}

.swiper_wrapper{
	position: relative;
}

#wrapper .swiper-pagination {
	position: relative;
}

.bottns_raw {

margin-bottom: 21px;
}

.bottns_raw div{text-align: center;}
.bottns_raw div button{
	
width: 80%;
	
font-size: 21px;
}