<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Enter our System</h3>
                </div>
                <div class="panel-body" style="padding-top: 0px;">
                    <form role="form">
                        <h2>old user</h2>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="userName" name="email" type="email" ng-model="login_details.userName" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="login_details.password">
                            </div>
                            <div class="form-group" ng-show="rong_password">
                                <label class="control-label" style="color: #a94442">Input with error</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a class="btn btn-lg btn-success btn-block">Login</a>
                        </fieldset>
                    </form>
                    <form role="form">
                        <h2>new User</h2>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="userName" name="email" type="email" ng-model="login_details.userName" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="login_details.password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a class="btn btn-lg btn-success btn-block">sign up</a>
                        </fieldset>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>