<div>
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project List</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<div class="row">
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="24" comments="Support tickets!" colour="red" type="support" ng-click="go_to_new_project()">
    		<div class="panel panel-red">
        		<div class="panel-heading">
        		    <div class="row">
        		        <div class="col-xs-3">
        		            <i class="fa fa-plus fa-5x"></i>
        		        </div>
        		        <div class="col-xs-9 text-right">
        		            <div class="huge ng-binding">add project</div>
        		            <div class="ng-binding"></div>
        		        </div>
        		    </div>
        		</div>
        		<a ui-sref="">
        		    <div class="panel-footer">
        		        <span class="pull-left">click to add a project</span>
        		        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        		        <div class="clearfix"></div>
        		    </div>
        		</a>
    		</div>
		</div>
    </div>
</div>