<div>
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<div class="row">
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="6" comments="New comments!" colour="primary" type="comments">
    		<div class="panel panel-primary">
        		<div class="panel-heading">
            		<div class="row">
                		<div class="col-xs-3">
                    		<i class="fa fa-comments fa-5x"></i>
                		</div>
                		<div class="col-xs-9 text-right">
                    		<div class="huge ng-binding">6</div>
                    		<div class="ng-binding">New comments!</div>
                		</div>
            		</div>
        		</div>
        	  	<a ui-sref="">
        	  	    <div class="panel-footer">
        	  	        <span class="pull-left">View Details</span>
        	  	        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        	  	        <div class="clearfix"></div>
        	  	    </div>
        	  	</a>
    		</div>
		</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="12" comments="New tasks!" colour="primary" type="user">
    		<div class="panel panel-primary">
        		<div class="panel-heading">
            		<div class="row">
                		<div class="col-xs-3">
                    		<i class="fa fa-user fa-5x"></i>
                		</div>
                		<div class="col-xs-9 text-right">
                    		<div class="huge ng-binding">12</div>
                    		<div class="ng-binding">New tasks!</div>
                		</div>
            		</div>
        		</div>
        		<a ui-sref="">
            		<div class="panel-footer">
                		<span class="pull-left">View Details</span>
                		<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                		<div class="clearfix"></div>
            		</div>
        		</a>
    		</div>
		</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="18" comments="New orders!" colour="yellow" type="shopping-cart">
    		<div class="panel panel-yellow">
        		<div class="panel-heading">
            		<div class="row">
                		<div class="col-xs-3">
                    		<i class="fa fa-shopping-cart fa-5x"></i>
                		</div>
                		<div class="col-xs-9 text-right">
                    		<div class="huge ng-binding">18</div>
                    		<div class="ng-binding">New orders!</div>
                		</div>
            		</div>
        		</div>
        		<a ui-sref="">
            		<div class="panel-footer">
                		<span class="pull-left">View Details</span>
                		<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                		<div class="clearfix"></div>
            		</div>
        		</a>
    		</div>
		</div>
        <div class="col-lg-3 col-md-6 ng-isolate-scope" number="24" comments="Support tickets!" colour="red" type="support">
    		<div class="panel panel-red">
        		<div class="panel-heading">
        		    <div class="row">
        		        <div class="col-xs-3">
        		            <i class="fa fa-support fa-5x"></i>
        		        </div>
        		        <div class="col-xs-9 text-right">
        		            <div class="huge ng-binding">24</div>
        		            <div class="ng-binding">Support tickets!</div>
        		        </div>
        		    </div>
        		</div>
        		<a ui-sref="">
        		    <div class="panel-footer">
        		        <span class="pull-left">View Details</span>
        		        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        		        <div class="clearfix"></div>
        		    </div>
        		</a>
    		</div>
		</div>
    </div>
</div>