<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My {{project.details.name}} Project</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Taskes flow
                </div>
                <div style="padding: 10px 20px 0px 20px;">
                    <p>
                        <strong>learning task</strong>
                        <span class="pull-right text-muted">{{how_much_done}}% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{how_much_done}}%">
                            <span class="sr-only">{{how_much_done}} Complete (warning)</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="timeline">
                        <li ng-repeat="item in userArray" ng-class="{'timeline-inverted':$odd}">
                            <div class="timeline-badge" ng-class="{'primary':$index%4==0, 'success':$index%4==1, 'warning':$index%4==2, 'info':$index%4==3}">{{$index+1}}</div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{item.task}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <div>{{item.title}}</div>
                                    <div class="alert" ng-class="{'alert-info': item.flag, 'alert-danger':!item.flag}" style="padding: 8px 5px; margin-top: 8px; margin-bottom: 0px;">
                                        task status: {{item.status}} </span><a href="" class="alert-link" ng-click="go_page(item)" ng-show="item.has_page">task page</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-2">
        </div>
</div>
