<div class="modal fade" id="cModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mm"></h4>
            </div>
            <div class="modal-body">
              <div class="col-lg-4"> 
                <div class="panel panel-primary"> 
                  <div class="panel-heading"> MAIN ATTIBUTES SELECT </div> 
                  <div class="panel-body">
                    <div  class="mainitemwrap" ng-repeat="item in chartdb.values" ng-show="item.type=='main'">
                      <h4 class="mainval_head" ng-init="item.flags=[]">{{item.name}}</h4>
                      <div class="line_modal"></div>
                      <div class="mainval" ng-repeat="val in item.values" ng-init="item.flags[$index]=true" ng-if="val">
                        <span class="mainvaltext">{{val}}</span>
                        <span class="check-wrapper" ng-class="{'waspicked':item.flags[$index]==true,'wasnotpicked':!(item.flags[$index]==true) }" ng-click="item.flags[$index]=!item.flags[$index]">
                            <div class="valball"></div>                            
                        </span>
                      </div>
                    </div> 
                  </div> 
                  <div class="panel-footer"> Panel Footer </div> 
                </div>
                <div class="panel panel-primary"> 
                  <div class="panel-heading"> Witch attributes </div> 
                  <div class="panel-body">
                    <div  class="mainitemwrap" ng-repeat="item in chartdb.values" 
                    ng-show="((!(item.type=='main'))&&(!(item.name=='pBug'||item.name=='pValid')))" ng-init="chartdb.charts[$index]=true">
                      <div style="width: 0px;height: 0px;" ng-if="(item.name=='pBug'||item.name=='pValid'||item.type=='main')">
                        <span ng-init="chartdb.charts[$index]=false"></span>
                      </div>
                      <div class="mainval" >
                        <span class="mainvaltext">{{item.name}}</span>
                        <span class="check-wrapper" ng-class="{'waspicked':chartdb.charts[$index]==true,'wasnotpicked':!(chartdb.charts[$index]==true) }" ng-click="chartdb.charts[$index]=!chartdb.charts[$index]">
                            <div class="valball"></div>                            
                        </span>
                      </div>
                    </div> 
                  </div>
                  
                  <div class="panel-footer"> Panel Footer </div> 
                </div>
                <div class="panel panel-primary" ng-if="view_charts"> 
                  <div class="panel-heading"> DISPALY </div> 
                  <div class="panel-body">
                    <div class="">
                    <div  class="pickchartb" ng-repeat="item in chartnames" ng-click="show_chart(item)">
                      {{item}}
                    </div>
                    </div> 
                    <canvas id="myChart" width="300" height="300"></canvas> 
                  </div> 
                  <div class="panel-footer"> CHARTS </div> 
                </div> 
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="up()" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="displayChart()" class="btn btn-default">Display Charts</button>
            </div>
        </div>
    </div>
</div>