<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="side_img"><img src="./img/s2.png" /></div>
        <ul class="nav in" id="side-menu">
            
            <li ui-sref-active="active" ng-click="project_list()">
                <a ><i class="fa fa-git-square fa-fw"></i>Projects List</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.newProject"><i class="fa fa-edit fa-fw"></i> Add Project</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.chart"><i class="fa fa-edit fa-fw"></i> Add Project</a>
            </li>                
            <li ui-sref-active="active" ng-click="log_out()">
                <a ><i class="fa fa-sign-out fa-fw"></i>Log Out</a>
            </li>
        </ul>
        <div class="side_img"><img src="./img/s1.png" /></div>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



