<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edmin</title>
	<link type="text/css" href="views/pages/admin_page/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="views/pages/admin_page/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link type="text/css" href="views/pages/admin_page/css/theme.css" rel="stylesheet">
	<link type="text/css" href="views/pages/admin_page/images/icons/css/font-awesome.css" rel="stylesheet">
	<!-- <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'> -->
</head>
<body>
	<!-- Load users data -->
	<div data-ng-init="get_users_data_table()"></div>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span9">
					<div class="content">
						<div class="module">
							<div class="module-head">
								<h3>Users</h3>
								<table class="table table-striped">
									<tr>
										<th>Username</th>
										<th>First name</th>
										<th>Last name</th>
										<th>email address</th>
										</tr>
										<tr ng-repeat="user in users_data">
										<td>{{ user.userName }}</td>
										<td>{{ user.first_name }}</td>
										<td>{{ user.last_name}}</td>
										<td>{{ user.user_email}}</td>
										</tr>
								</table>
						</div>
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<div class="footer">
		<div class="container">
			<b class="copyright">&copy; 2014 Edmin - EGrappler.com </b> All rights reserved.
		</div>
	</div>
	<!-- <script src="scripts/jquery-1.9.1.min.js"></script>
	<script src="scripts/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="scripts/datatables/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function() {
			$('.datatable-1').dataTable();
			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
			$('.dataTables_paginate > a').wrapInner('<span />');
			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
		} );
	</script> -->
</body>